.logo {
    display: block;
    margin-right: auto;

    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;

    @media screen and (min-width: 768px) {
    
    margin-right: 93px;
    }

&-dark {
    color: var(--primary-color);
    }

    &--white {
    color: var(--secondary-color);
    }
}

