.title {
    margin-bottom: 50px;

    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--primary-color);
}